/*Color variables list:*/

/*Silver, White, Black*/
$Silver: #C0C0C0;
$Snow: #FFFAFA;
$Black: #000000;




/*Border Colors*/
$Wheat:	#F5DEB3;
$Red: red;


/*Text Colors*/
$SlateBlue: #6A5ACD;
$Olive: #808000;