/*General Structure*/
/*Importing layout variables*/
@import	"partials/sizes";
@import "partials/text";
@import "partials/borders";
@import "partials/backgrounds";
/*Header Margins*/
header	{
	@include HeaderSize(500px,250px);
	position: relative;
	ul {
		margin: 15px;
		li {
			display: inline-block;
			@include ButtonText(15px);
			@include ButtonSize(100px, 30px);
			@include Button;
			@include SolidSilver;
			&:hover{ 
				background-color: $Red;
			}
		}
	}
}



div {
	display: inline-block;
	@include DivSize(150px,150px);
	@include BigBlue;
}