/*Measurement variables for structure*/


/*Header sizes*/
@mixin HeaderSize ($Header-width, $Header-height) {
	width: $Header-width;
	height: $Header-height;
}

@mixin ButtonSize ($Button-width,$Button-height) {
	width: $Button-width;
	height: $Button-height;
}

/*Body Sizes*/
@mixin DivSize ($Div-width, $Div-height) {
	width: $Div-width;
	height: $Div-height;
}
