/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Base file to collect all variables*/
/*Color variables list:*/
/*Silver, White, Black*/
/*Border Colors*/
/*Text Colors*/
/*Font variables*/
/*Header fonts*/
/*Body fonts*/
/*Footer fonts*/
/*Border mixins*/
/* line 7, ../sass/variables/_base.scss */
div {
  background-color: #000000;
}

/*General Structure*/
/*Importing layout variables*/
/*Measurement variables for structure*/
/*Header sizes*/
/*Body Sizes*/
/*Text modification and design*/
/*Header Text*/
/*Body Text*/
/*Defines border design*/
/*Border mixins*/
/*Backgrounds*/
/*Header Margins*/
/* line 8, ../sass/partials/_layout.scss */
header {
  width: 500px;
  height: 250px;
  position: relative;
}
/* line 11, ../sass/partials/_layout.scss */
header ul {
  margin: 15px;
}
/* line 13, ../sass/partials/_layout.scss */
header ul li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  width: 100px;
  height: 30px;
  background-color: #F5DEB3;
  border: 3px solid #C0C0C0;
}
/* line 19, ../sass/partials/_layout.scss */
header ul li:hover {
  background-color: red;
}

/* line 28, ../sass/partials/_layout.scss */
div {
  display: inline-block;
  width: 150px;
  height: 150px;
  color: #6A5ACD;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #808000;
}

/* line 10, ../sass/screen.scss */
html {
  font-size: 16px;
}
